.diffDialog md-dialog-content {
  padding: 20px;
}
.diffDialog md-dialog-content .repo-button {
  border-radius: 0;
  cursor: pointer;
  padding: 0 0 0 15px;
  margin: 0;
  width: 100%;
  text-align: left;
  text-transform: None;
}
