requests ~= 2.11.1
webargs ~= 1.4.0

Flask-ini ~= 0.2.1
Flask-RESTful ~= 0.3.5
Flask-Cors ~= 3.0.2
Flask-SQLAlchemy ~= 2.1
Flask-Security ~= 1.7.5
flask-ldap3-login ~= 0.9.12

psycopg2 ~= 2.6.2

pyptly ~= 1.0.2