.package {
  padding: 10px 50px 0 50px;
  font-size: large;
  height: calc(100vh - 100px);
}

.package__properties {
  padding: 0 10px;
  font-size: large;
  background-color: #fafafa;
  border-right: solid 1px #e1e1e1;
  padding-bottom: 20px;
  height: 100%;
}

.package__properties-field {
  //text-align: end;
    letter-spacing: 0.05em;
  text-transform: uppercase;
}

.package__properties-field_first {
  //background-color: #ebebeb;
}

.package__properties-field_second {
  background-color: #e6e6e6;
}

.header {
  font-size: 1.4rem;
  text-indent: 25px;
  //text-align: center;
}

.package__action-list {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.package__action-list-item {
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}

.package-icon {
  color: #646464;
}
