.diff
  //th
  //  text-align: left
  //  padding 5px
  //  background-color #a2a2cd
  //td
  //  padding 5px
  //  border-top 1px solid #676880
  //tr:nth-child(even)
  //  background-color #ddddff
  //tr:nth-child(odd)
  //  background-color #eeeeff

  .border-left
    border-left  1px solid #676880

