<div class="diff">
  <h1>{{ $ctrl.leftItem }} and {{ $ctrl.rightItem }} diff</h1>

  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <th class="mdl-data-table__cell--non-numeric">Hash</th>
      <th class="mdl-data-table__cell--non-numeric">Arch</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Version</th>
      <th class="border-left mdl-data-table__cell--non-numeric">Version</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Arch</th>
      <th class="mdl-data-table__cell--non-numeric">Hash</th>
    </thead>
    <!-- [Arch, Name, Version, Hash] -->
    <tr ng-repeat="diffItem in $ctrl.diffData">
      <td class="mdl-data-table__cell--non-numeric">{{ diffItem.Left[3] }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ diffItem.Left[0] }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ diffItem.Left[1] }}</td>
      <td align="right">{{ diffItem.Left[2] }}</td>
      <td class="border-left mdl-data-table__cell--non-numeric">{{ diffItem.Right[2] }}</td>
      <td  class="mdl-data-table__cell--non-numeric">{{ diffItem.Right[1] }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ diffItem.Right[0] }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ diffItem.Right[3] }}</td>
    </tr>
  </table>
</div>
