.snapshots .container {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}
.snapshots .container .md-button {
  text-transform: none;
}
.snapshots .container h3 {
  margin: 0;
  display: inline;
}
.snapshots div {
  height: 100%;
}
.repo-menu {
  max-height: 400px !important;
}
.repo-menu md-menu-item {
  height: unset;
  min-height: unset;
}
