.repo-page {
  padding: 30px 50px 0 50px;
}

.repo-page__params {
  font-size: large;
}

.repo-page__params-field {
  text-align: end;
    letter-spacing: 0.05em;
  text-transform: uppercase;
}

.repo-page__debstring{
  padding: 10px;
  background-color: #f1f1f1;
  font-family: monospace;
}

.repo-page__action-list {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.repo-page__action-list-item {
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}

.clickable-row{
  cursor: pointer!important;
}

.repo-page__packages {
  height: calc(100vh - 180px);
}

.repo-icon {
  color: #03a9f4;
}

