<md-dialog class="diffDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Diff local repositories</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <h3>Choose repository for comprassion with {{$ctrl.leftRepo.Name}}</h3>
    <md-list>
      <md-list-item ng-repeat="repo in $ctrl.repos" ng-if="repo.Name != $ctrl.leftRepo.Name">
        <md-button class="repo-button">
          {{ repo.Name }}
        </md-button>
      </md-list-item>
    </md-list>
  </md-dialog-content>

</md-dialog>
