.localRepos
  .container
    display flex
    flex-wrap wrap
    vertical-align top
    .md-button
      text-transform none
    h3
      margin 0
      display inline

  div
    height 100%

.repo-menu
  max-height 400px!important

  md-menu-item
    height unset
    min-height unset
