.localRepos .container {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}
.localRepos .container .md-button {
  text-transform: none;
}
.localRepos .container h5 {
  margin: 0;
  display: inline;
}
.localRepos .container .md-headline {
  overflow: hidden;
}
.localRepos .container .md-subhead {
  overflow: hidden;
}
.localRepos .container md-card {
  width: calc(100% - 20px);
}
@media (min-width: 1200px) {
  .localRepos .container md-card {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1700px) {
  .localRepos .container md-card {
    width: calc(33% - 20px);
  }
}
.localRepos .container md-card-actions {
  justify-content: space-between;
}
.localRepos div {
  height: 100%;
}
.localRepos md-card md-card-title {
  padding: 16px 8px 8px 16px;
}
.localRepos md-card {
  margin: 5px;
}
.localRepos md-card md-card-title md-card-title-text:only-child .md-subhead {
  padding-top: 0;
}
.repo-menu {
  max-height: 400px !important;
}
.repo-menu md-menu-item {
  height: unset;
  min-height: unset;
}
