<div class="localRepos" md-toa>
  <h1>Local repositories list</h1>
  <div class="container">
    <md-card ng-repeat="repo in $ctrl.local_repos">
      <md-menu md-offset="10 30">
      <md-card-title>
        <md-card-title-text>
          <div layout="row" style="justify-content: space-between">
            <div layout="column">
              <span class="md-headline"><md-icon> archive</md-icon>{{repo.Name}}</span>
              <span class="md-subhead">{{repo.Comment}}</span>
            </div>
            <div layout="column">
              <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon> build</md-icon>
              </md-button>
              <md-button class="md-icon-button" ui-sref="packages({srcName: repo.Name, type: 'repos'})">
                <md-icon> view_list</md-icon>
              </md-button>
            </div>
          </div>

        </md-card-title-text>
      </md-card-title>
        <md-menu-content class="repo-menu" width="4">
          <md-menu-item>
            <md-button ng-click="$ctrl.diffRepo($event, repo)">
                Diff with...
              </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="$ctrl.createSnapshotDialog($event, repo)">
              Create snapshot
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="$ctrl.addPkgFromUpload($event, repo)">
              Add packages from upload
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="$ctrl.addPkgByKeyDialog($event, repo)">
              Add packages by key
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="$ctrl.delPkgByKeyDialog($event, repo)">
              Delete packages by key
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="$ctrl.editRepo($event, repo)">
              Edit repository
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="$ctrl.confirmDeleteRepo($event, repo)">
              Delete repository
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-card>
    <md-button class="add_button" ng-click="$ctrl.createRepo($event)">
      <h5></h5>
      <md-icon>add_box</md-icon>
      CREATE NEW REPOSITORY
      </h3>
    </md-button>
  </div>


  <!--<table flex>-->
  <!--<thead>-->
  <!--<th>-->
  <!--Name-->
  <!--</th>-->
  <!--<th>-->
  <!--Comment-->
  <!--</th>-->
  <!--<th>-->
  <!--Default Component-->
  <!--</th>-->
  <!--<th>-->
  <!--Default Distribution-->
  <!--</th>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr ng-repeat="repo in $ctrl.local_repos">-->
  <!--<td>{{repo.Name}}</td>-->
  <!--<td>{{repo.Comment}}</td>-->
  <!--<td>{{repo.DefaultComponent}}</td>-->
  <!--<td>{{repo.DefaultDistribution}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
</div>
