.localRepos
  .container
    display flex
    flex-wrap wrap
    vertical-align top
    .md-button
      text-transform none
    h5
      margin 0
      display inline

    .md-headline
      overflow: hidden

    .md-subhead
      overflow: hidden

    md-card
      width calc(100% - 20px)

    @media (min-width: 1200px)
      md-card
        width calc(50% - 20px)

    @media (min-width: 1700px)
      md-card
        width calc(33% - 20px)

    md-card-actions
      justify-content space-between

  div
    height 100%

.repo-menu
  max-height 400px!important

  md-menu-item
    height unset
    min-height unset
