.localRepos .container {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}
.localRepos .container h3 {
  margin: 0;
  display: inline;
}
.localRepos div {
  height: 100%;
}
.repo-menu {
  max-height: 400px !important;
}
