.diff th {
  text-align: left;
  padding: 5px;
  background-color: #a2a2cd;
}
.diff td {
  padding: 5px;
  border-top: 1px solid #676880;
}
.diff tr:nth-child(even) {
  background-color: #d0d0ff;
}
.diff .border-left {
  border-left: 1px solid #676880;
}
