/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.clickable-row{
  cursor: pointer!important;
  &:hover {
    background-color: #f5f5f5 !important;
  }
}

.datatable-body-row:hover {
  background-color: #fafafa !important;
}

html {
  font-family: 'Roboto', sans-serif;
}

.red-diff {
    //color: #fff0f0;
  color: darkred;
  font-weight: 500;
}

.green-diff {
  //color: #e0ffda;
  color: darkgreen;
  font-weight: 500;
}

router-outlet + * { flex: 1 1 auto ; display: flex ; flex-direction: column ; }

.mat-input-container {
  top: 4px;
}

datatable-scroller{
  width:100% !important;
}
