side-bar md-sidenav {
  min-height: 100%;
}
side-bar md-sidenav .side-menu {
  padding: 0;
}
side-bar md-sidenav .side-menu .md-button {
  border-radius: 0;
  cursor: pointer;
  padding: 5px 10px 5px 15px;
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}
