side-bar
  md-sidenav
    min-height 100%

    .side-menu
      padding 0
      .md-button
        border-radius 0
        cursor pointer
        padding 5px 10px 5px 15px
        margin 0
        width 100%
        text-align left
        font-size 1.3rem
