//.fullscreen-row {
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items: baseline;
//}

.fullscreen-row .button {
  margin: 0 20px;
}

.global-search-component {
  padding: 30px 50px 0 50px;
  height: calc(100vh - 90px);
}

.search-filters {
  border: 1px solid #e6fef7;
  background-color: #f6ffff;
  padding: 10px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.clickable-row{
  cursor: pointer!important;
}

//.search__table_big {
//  height: calc(100vh - 200px);
//}
//
//.search__table_small {
//  height: calc(100vh - 334px);
//}

.repo-icon_basic {
  color: #03a9f4;
  position: relative;
}

.snapshots-icon_basic {
  color: #34cd6f;
  position: relative;
}
