.fullscreen-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.fullscreen-row .button {
  margin: 0 20px;
}

.search-input {
  flex-basis: 70%;
}

.global-search-component {
  padding: 30px 50px;
}

.search-filters {
  border: 1px solid #00897B;
  background-color: #e6fef7;
  padding: 20px 10px 10px 10px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.vertical-stretch {
  align-items: stretch;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.clickable-row{
  cursor: pointer!important;
}
