<div class="global-search-component" fxLayout="column" fxLayoutGap="25px" #globalSearch>
  <form>
    <div fxLayout="row" class="fullscreen-row">
      <md-input-container fxFlex>
        <input mdInput placeholder="Package name" #searchInput>
      </md-input-container>
      <button fxFlexAlign="center" class="button mat-primary" md-raised-button (click)="find()">Find</button>
      <md-slide-toggle fxFlexAlign="center" class="button" [(ngModel)]="advancedSearch" (change)="extendedSearchTrigger()"
                       name="extended">Extended
      </md-slide-toggle>
    </div>

    <div *ngIf="advancedSearch" class="search-filters"
         [@flyInOut]="'flyFromLeft'" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <md-checkbox [checked]="true" fxFlex="150px">Repository</md-checkbox>
        <div fxLayout="row" fxFlex fxLayoutAlign="stretch center">
          <md-select style="width: 170px;" [(ngModel)]="filter.versionOperation" placeholder="&nbsp;"
                     name="versionOperation">
            <md-option [value]="'=='">Package version ==</md-option>
            <md-option [value]="'>='">Package version >=</md-option>
            <md-option [value]="'<='">Package version <=</md-option>
            <md-option [value]="'>>'">Package version >></md-option>
            <md-option [value]="'<<'">Package version <<</md-option>
          </md-select>
          <md-input-container fxFlex>
            <input mdInput>
          </md-input-container>
        </div>
        <md-select placeholder="Architecture" fxFlex="200px" [(ngModel)]="filter.arch"
                   name="arch">
          <md-option *ngFor="let arch of architectures" [value]="arch.code">{{ arch.name }}</md-option>
        </md-select>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <md-checkbox fxFlex="150px" [checked]="true">Snapshot</md-checkbox>
        <md-input-container fxFlex>
          <input mdInput placeholder="Key">
        </md-input-container>
      </div>
    </div>
  </form>

  <div *ngIf="findTriggered" fxFlex fxLayout="row">
    <ngx-datatable
      class="material"
      [rows]="mockRows"
      [columns]="mockCols"
      [columnMode]="'force'"
      [rowClass]="getRowClass"
      [scrollbarV]="true"
      (activate)="searchElementActivate($event)" fxFill>
    </ngx-datatable>

  </div>
</div>

<ng-template #iconTemplate let-value="value">
  <md-icon md-list-icon [ngClass]="value.class">{{value.name}}</md-icon>
</ng-template>
